.container {
  box-sizing: content-box;
  /* margin: 16px 24px; */
  padding: 24px 16px;
  width: 340px;
  text-align: center;
  flex: 0 0 340px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  background: linear-gradient(45deg, var(--bg-second), var(--border-gray-second));
  /* scroll-snap-stop: always; */
  scroll-snap-align: center;

}


.par {
  margin-top: 16px;
  color: var(--text-gray-second);
}

.picture {
  margin-top: 8px;
  display: block;
  border: 1px solid var(--text-gray-second);
}

.button {
  margin-top: 8px;
  display: block;
  padding: 8px 16px;
  border: 1px solid var(--border-gray-first);
}

.button:hover {
  color: var(--text-black);
  background-color: var(--border-gray-first);
}