:root {
  font-size: 16px;

  --max-width: 1100px;
  --border-radius: 12px;
  --font-main: Tahoma, Geneva, sans-serif;
  --font-compact: monospace;

  --bg-first: #0d0d0d;
  --bg-first-semi: #0d0d0df6;
  --bg-second: #171616;
  --bg-second-semi: #171616c3;
  --bg-second-semi-dense: #171616d5;
  --text-gray-first: #d8d1c8;
  --text-gray-second: #877f76;
  --text-gray-third: #544e46;
  --text-gray-forth: #3a3732;
  --text-white: #e8e6e3;
  --text-black: #100f0d;
  --text-red-first: #75170e;
  --text-red-second: #82350b;
  --border-gray-first: #383838;
  --border-gray-second: #222222;
  --main-01: #f2831b;
  --main-02: #e47615;
  --main-03: #ce620d;
  --main-04: #d0480e;
  --main-05: #b53609;
  --main-06: #a62908;
  --main-07: #8e1403;
  --main-08: #870903;
  --main-09: #52120b;
  --main-10: #3f100c;
  --main-11: #390302;
  --main-12: #270202;
  --main-13: #210100;
  --main-14: #1c0100;
  --main-15: #130100;
  --main-16: #0f0000;
  --main-17: #000000;
  --banner-01: #fff7de;
  --banner-02: #fff9da;
  --banner-03: #ebe5c9;
  --banner-04: #d9c19b;
  --banner-05: #bda581;
  --banner-06: #a08e73;
  --banner-07: #886647;
  --banner-08: #c08e5f;
  --banner-09: #985738;
  --banner-10: #311f17;
  --banner-11: #363525;
  --banner-12: #0a0a09;
  --green-first: #857a5e;
  --green-second: #413620;
  --blue-first: #343453;
  --blue-second: #181836;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

*::selection {
  background-color: var(--main-04);
  color: var(--text-black);
}

html {
  min-height: 100%; /* Look, it's not fixed anymore! */
  display: flex;
  flex-direction: column;
}

body {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  color: var(--text-gray-first);
  background: var(--bg-first);
  font-family: var(--font-main);
}

body::-webkit-scrollbar {
  width: 1em;
}
 
body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px var(--bg-first);
}
 
body::-webkit-scrollbar-thumb {
  background-color: var(--text-red-first);
  outline: 1px solid var(--text-red-first);
}

h1 {
  font-size: 2rem;
  font-weight: bold;
  letter-spacing: -1px;
  line-height: 1;
}

h2 {
  font-size: 2.1rem;
  font-weight: bold;
  letter-spacing: -1px;
  line-height: 1.1;
}

h3 {
  font-size: 1.5rem;
  font-weight: bold;
  letter-spacing: -0.5px;
}

h4 {
  font-size: 1.17rem;
  font-weight: bold;
}

p {
  font-size: 1rem;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style-type: none; /* Remove bullets */
  padding: 0; /* Remove padding */
  margin: 0; /* Remove margins */
}

li {
  list-style-type: none; /* Remove bullets */
}

button {
  all: unset;
  margin: 0;
  padding: 0;
  width: auto;
  background: transparent;
  color: inherit;
  font: inherit;
  border: none;
  outline: revert;
  cursor: pointer;
}

button:hover,
button:active,
button:focus,
a:hover,
a:active,
a:focus {
  filter: brightness(120%);
}

#__next {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.container {
  margin: 10px auto;
  padding: 0 10px;
}

.styledScrollbar::-webkit-scrollbar {
  width: 1em;
}
 
.styledScrollbar::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px var(--bg-first);
}
 
.styledScrollbar::-webkit-scrollbar-thumb {
  background-color: var(--text-red-first);
  outline: 1px solid var(--text-red-first);
}

@media screen and (min-width: 640px) {

  h1 {
    font-size: 2.5rem;
    font-weight: bold;
    line-height: 1;
  }
  

  .container {
    margin: 10px auto;
    padding: 0 20px;
  }

}

@media screen and (min-width: 768px) {

  .container {
    max-width: 720px;
  }

}

@media screen and (min-width: 1024px) {

  .container {
    max-width: 1000px;
  }

}

@media screen and (min-width: 1280px) {

  h1 {
    font-size: 2.7rem;
    font-weight: bold;
    line-height: 1;
  }

  .container {
    max-width: 1200px;
  }
}